<%- include ./partials/header -%>
<h1>Contact</h1>
<p><%=contactContent%></p>
<p>You can contact us through the following methods:</p>
<p>Email: example@gmail.com</p>
<p>Phone Number: +91-9999999999</p>
<p>
  We value your thoughts and appreciate your interest in our blog. Your feedback
  helps us tailor our content to meet your needs and interests. Whether you have
  suggestions for future topics, collaboration opportunities, or simply want to
  say hello, we look forward to hearing from you.
</p>
<p>Thank you for your support and for being a part of our blog community!</p>

<%- include ./partials/footer -%>
